@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 270 100% 92%;
    --foreground: 244 67% 10%;
    --card: 270 100% 92%;
    --card-foreground: 244 67% 10%;
    --popover: 270 100% 92%;
    --popover-foreground: 244 67% 10%;
    --primary: 279 69% 61%;
    --primary-foreground: 270 100% 98%;
    --secondary: 270 100% 88%;
    --secondary-foreground: 279 69% 31%;
    --muted: 270 100% 90%;
    --muted-foreground: 244 67% 30%;
    --accent: 244 67% 24%;
    --accent-foreground: 270 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 279 69% 81%;
    --input: 279 69% 85%;
    --ring: 279 69% 61%;
    --chart-1: 279 69% 61%;
    --chart-2: 244 67% 54%;
    --chart-3: 279 50% 71%;
    --chart-4: 244 50% 44%;
    --chart-5: 279 80% 81%;
    --radius: 0.5rem;
    --sidebar-background: 244 67% 14%;
    --sidebar-foreground: 270 100% 92%;
    --sidebar-primary: 279 69% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 244 67% 24%;
    --sidebar-accent-foreground: 270 100% 98%;
    --sidebar-border: 244 67% 30%;
    --sidebar-ring: 279 69% 61%;
  }
  .dark {
    --background: 244 67% 10%;
    --foreground: 270 100% 92%;
    --card: 244 67% 10%;
    --card-foreground: 270 100% 92%;
    --popover: 244 67% 10%;
    --popover-foreground: 270 100% 92%;
    --primary: 279 69% 61%;
    --primary-foreground: 270 100% 98%;
    --secondary: 244 67% 20%;
    --secondary-foreground: 270 100% 98%;
    --muted: 244 67% 20%;
    --muted-foreground: 270 100% 82%;
    --accent: 244 67% 24%;
    --accent-foreground: 270 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 244 67% 30%;
    --input: 244 67% 30%;
    --ring: 279 69% 61%;
    --chart-1: 279 69% 61%;
    --chart-2: 244 67% 54%;
    --chart-3: 279 50% 71%;
    --chart-4: 244 50% 44%;
    --chart-5: 279 80% 81%;
    --sidebar-background: 244 67% 8%;
    --sidebar-foreground: 270 100% 92%;
    --sidebar-primary: 279 69% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 244 67% 20%;
    --sidebar-accent-foreground: 270 100% 98%;
    --sidebar-border: 244 67% 25%;
    --sidebar-ring: 279 69% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
